/* 
 .vvv{
    
   width: 100%;
   height: 100vh ;
   background-repeat: no-repeat;
   background-size: cover;
 
  }
 
  .section-login{
      margin: 0 auto;
      display: flex;
      height: 100vh;
      width: 100%;
      align-content: center;
      align-items: center;
  }
  .login-box{
      margin: 0 auto;
  }
  .input-field p{
      color: orangered;
      font-size: 1.6rem;
  }
  .input-field input{
      width: 24rem;
      border: none;
      border-bottom: 1.3px solid orangered;
      font-size: 1.6rem;
      height: 2.6rem;
      padding: 0 1.2rem ;
      transition: all 100ms;
  }
  .input-field input:focus {
      outline: none;
      box-shadow: 0 0 20px 1px #c0c0c0;
      border-radius: 6px;
      transform: scale(1.05);
  }
  .login-box{
      background: #FFFFFFF2;
      padding: 4.6rem 2.6rem;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
 
  .input-field{
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
  }
 
  .register{
      color: orangered;
      font-size: 1.2rem;
  }
 
  .form{
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
  }
 
 
  .btn{
      border: none;
      background: orangered;
      color: white;
      border-radius: 0.8rem;
      text-transform: uppercase;
      padding: 1.2rem 0;
      font-size: 1.2rem;;
      transition: all 300ms;
  }
  .btn:hover{
      transform: scale(1.05);
      box-shadow: 0 0 5px 1px #9a9a9a;
  } */
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
/* .home{
    
    height: 100vh;
    width: 100%;
    position:absolute;
    top: 0;
  }
  
  .homeContainer, .formm{
    width: 40%;
    height: 70vh;
    background-color: white;
    margin: 0 auto;
    margin-top: 15vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
  }
  
  .homeContainer button{
    margin: 15px;
    padding: 10px;
  }
  
  button{
    cursor: pointer;
  }
  
  .s{
    color: black;
    text-decoration: "none";
  }
  
  
  
  .formm form{
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  
  form input{
    margin-bottom: 20px;
  }
  .forgot{
    color: darkblue;
    cursor: pointer;
  } */
  
@media (min-width: 1000px) {
  article {
    width: 100vw;
    height: 95vh;
    display: flex;
  }
}
.one {
  width: 55%;
  height: 100%;
  position: relative;
}
.two {
  width: 45%;
  height: 100%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}
.one .img {
  width: 100vh;
  height: 100vh;
}
.one div img {
  width: 100vh;
  height: 100vh;
}
.one div + div {
  color: white;
  position: absolute;
  width: 200px;
  height: 180px;
  display: flex;
  top: 50%;
  margin-top: -90px;
  left: 50%;
  margin-left: -100px;
}
.one div + div i {
  font-size: 200px;
  line-height: 180px;
}
.two .logo i {
  font-size: 2.5rem;
  color: rgb(29, 155, 240);
  margin-block-start: 8rem;
  margin-block-end: 4rem;
}
.log-in {
  display: flex;
  flex-direction: column;
}
.log-in h1 {
  font-size: 5rem;
}
.log-in h2 {
  font-size: 2rem;
  margin-block: 1.4rem;
}
@media (max-width: 500px) {
  .log-in h1 {
    font-size: 1.6rem;
  }
  .log-in h2 {
    font-size: 1rem;
  }
}
.log-in div {
  width: 18.5rem;
}
.log-in div > a {
  display: block;
  padding: 0.5rem 3rem;
  text-decoration: none;
  color: black;
  border: 1px solid rgb(233, 234, 236);
  border-radius: 25px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 1rem;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-weight: bold;
}
.log-in div > a:hover {
  background-color: rgb(201, 201, 201);
}
.log-in div > a i {
  margin-right: 0.3rem;
}
.log-in div > a + a i {
  font-size: 20px;
}
.log-in > p:nth-child(n + 2) {
  margin-bottom: 1.8rem;
  text-decoration: none;
  font-size: 12px;
}
.log-in > p:nth-child(4) {
  max-width: 22rem;
}
.log-in > p:nth-child(5) {
  font-size: 16px;
}
.log-in > p a:nth-child(n + 1) {
  margin-bottom: 1.8rem;
  text-decoration: none;
  color: rgb(29, 155, 240);
}
.log-in > p a:hover:nth-child(n + 1) {
  text-decoration: underline;
}
@media (min-width: 1000px) {
  footer {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
ul {
  text-align: center;
  min-width: 5rem;
}
ul li {
  list-style: none;
  display: inline-block;
  margin-left: 0.8rem;
  font-size: 12px;
}
ul li a {
  text-decoration: none;
  color: rgb(83, 100, 113);
}
@media (max-width: 1000px) {
  body {
    overflow: scroll;
  }
  article {
    width: unset;
    height: unset;
    display: flex;
    flex-direction: column-reverse;
  }
  .one {
    width: 100%;
    height: 100%;
  }
}
