.navbar-header{
    width:100%;
    background: white;
}
.logo{
    width:10%;
    min-width: 46px;
    justify-self: start;
}
.login_nav{
    font-size: 25px;
}

.grid-nav{
    width: 100%;
    display:grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    justify-items: center;
    align-items: end;
    padding: 6px 64px;
    color:#48C1C9;

}
.routes{
    display:flex;
    justify-self: start;
}
.route-list{
    display:flex;
    gap: 32px;
    font-size:18px;
}
.navbar-link{
    transition: all 0.3s;
}
.navbar-link:hover{
    color:#2e787e;
}
