.section-medical-doctor {
    height: 100vh;
    justify-content: center;
    justify-items: center;
    align-items: start;
}

.patient-list table {
    border-collapse: unset;
    text-align: start;
}
.patient-list table tr{
    border-bottom: 1px black solid;
    margin: 16px 0;
}
.patient-list{

    background: white;
    padding: 32px;
    border-radius: 6px;
    height: 100%;
    max-height: 460px;
    overflow: scroll;
}
.list-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 2px #6bb9d0 solid;
    padding: 6px;
    margin-bottom: 16px;
    transition: all 300ms;

}
.list-row:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    background: #f6f6f6;
    border: none;
    border-radius: 6px 6px 0 0;
}
.list-row:nth-child(n+2) {
    color: #666666;
}
.list-row:nth-child(n+2):hover {
    transform: scale(1.05);
}

.medical-doctor-froms{
    background: white;
    padding: 16px;
    width: 100%;
    max-width: 760px;
    height: 100%;
    max-height: 460px;
    border-radius: 10px;

}
.form-options{
    display: flex;
    gap: 36px;
    justify-content: center;
}

.btn-active {
    background: #6bb9d0;
    transform: scale(1.1);
    box-shadow: 0 0 10px 0 #dbdbdb;
}
.btn-not-active{
    background: rgba(82, 214, 222, 0.8);
}
.form-options button{
    transition: all 300ms;
}
.form-options button:hover{
    transform: translate(0,-3px);
    cursor: pointer;
}
.from-medical-doctor{
    margin-top: 18px;
    display: grid;
    flex-direction: column;
    gap: 12px;
}
.from-medical-doctor input{
    border: none;
    border-bottom: 2px #6bb9d0 solid;
    font-size: 14px;
}
.from-medical-doctor input:focus {
    outline: none;
    transform: scale(1.02);
}
.from-medical-doctor button:hover {
    background: #6bb9d0;
    cursor: pointer;
}
.search-form{
    width: 100%;
    display: flex;
    gap: 0;
    padding: 3px 6px;
}
.search-form span:hover{
    cursor: pointer;
}
.search-form span{
    border: 1px solid #cbcbcb;
    border-right: none;
    border-radius: 6px 0 0 6px;
    height: 18px;
    padding: 6px 18px;
    background: #6bb9d0;
    color: white;
}
.search-form input:focus{
    outline: none;
}
.search-form input{
    width: 100%;
    height: 18px;
    border: 1px solid #cbcbcb;
    border-radius: 0 6px 6px 0;
    border-left: none;
    padding: 6px;


}