#grid-5{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
#grid-7{
    grid-template-columns: repeat(6, 1fr);

}

@media (mix-width: 400px) {

    .section-medical-doctor {
        height: 150vh;
        padding-left: 0rem;
        justify-content: end;
        justify-items: end;
        align-items: start;
    }

    body {
        background-color: red;
    }
    
}